body {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #3b5998;
    width: 100%;
    height: 85px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header-logo {
    width: 50%;
    float: left;
    padding-top: 32px;
}

.header-logo a {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 170px;
}

.header-login {
    width: 50%;
    float: right;
    margin-top: 30px;
}

.header-login .input-box {
    margin-left: 20px;
    display: inline;
}

.input-box button {
    background-color: #3b5998;
    border-radius: 10px;
    color: #ffffff;
    border-color: #ffffff;
    width: 112px;
    height: 30px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.input-box label {
    font-size: 20px;
    color: #ffffff;
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.input-box input {
    width: 150px;
    height: 20px;
    border-radius: 10px;
    box-shadow: #3b5998;
}

