body
{
    margin: 0px;
    padding: 0px;
}
.header
{
    background-color: #3b5998;
    width: 100%;
    height: 85px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.header-logo
{
    width: 50%;
    float: left;
    padding-top: 32px;
}
.header-logo a
{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 170px;    
}

.header-login
{
    width: 50%;
    float: right;
}   

.login-input-box
{
    
}

/* .email-input-box label
{
    color: #ffffff;
    font-size: 20px;
    display: block;
    padding-bottom: 10px;
}
.password-input-box label
{
    color: #ffffff;
    font-size: 20px;
    display: inline;
    padding-left: 200px;
    display: block;
    padding-bottom: 300px;
} */

.email-input-box{
    display: inline;
    
}

.email-box
{
    margin-top: 10px;
}

.password-input-box
{
    display: inline;
    padding-left: 40px;
}

.password-box
{
    margin-left: 200px;
    margin-top: 10px;
}